#canvasTriangle {
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas, canvasSquare {
  border: 1px solid #000;
}
